<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dwalkes.android.toggleheadset2"
      android:versionCode="11"
      android:versionName="2.5">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<!-- Only allow up to most recent version tested -->
    <uses-sdk android:minSdkVersion="7" android:maxSdkVersion="15" />
    <application android:icon="@drawable/icon" 
		android:label="@string/app_name" >
		<!--  Make sure this is the first receiver, or BOOT_COMPLETED won't be received, noticed on Android 2.3.4 -->
        <receiver android:name=".ToggleHeadsetBroadcastReceiver">
			<!-- Leave HEADSET_PLUG_INTENT out of this list since we'll register for this one after the service starts -->
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
        <receiver android:name=".ToggleHeadsetAppWidgetProvider" android:label="@string/widget_name" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/toggle_appwidget_info" />
		</receiver>
		<activity android:name="ToggleHeadsetConfig"
               android:label="Toggle Headset 2 Configuration">
         	<intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
         	</intent-filter>
     	</activity>
		

		<activity android:name=".ToggleHeadsetWidgetConfigure">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		<service android:name=".ToggleHeadsetAppWidgetProvider$ToggleHeadsetService" />
    </application>


</manifest>

