<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dwalkes.android.toggleheadset2"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"  
    	android:debuggable="true">
		<receiver android:name=".ToggleHeadsetAppWidgetProvider" android:label="@string/widget_name" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/toggle_appwidget_info" />
		</receiver>
		<service android:name=".ToggleHeadsetAppWidgetProvider$ToggleHeadsetService" />
    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>

</manifest> 